* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-password {
    margin-bottom: -1.5vw;
    margin-top: 1vw;
    background-color: #b95757;
    color: white;
    padding: 1vw;
    border-radius: 2vw;
    opacity: 0;
    animation-name: logoAnimation;
    animation-delay: 1.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
    width: 100%;
}

h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 4.15vw;
    animation-name: titleAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.under_title {
    animation-delay: 0.5s;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.reset-password-form label,
.reset-password-form input {
    width: 30%;
    margin-bottom: 1rem;
    font-size: 1.5vw;
}
.reset-password-form.flashcard-style {
    background-color: #F0EAD6;
    margin-top: 3vw;
    color: #1F7C62;
    border-radius: 1vw;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation-name: flashcardAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.new-password-form {
    border: none;
    border-radius: 1vw;
    padding:0.5vw;
}

.reset-password-form input {
    width: 100%;
    margin-top: 1vw;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.button {
    margin-top: 0;
    opacity: 1;
    animation: none;
    font-size: 1.7vw;
    color: white;
    background-color: #1F7C62;
}

.button:hover {
    border: 0.1vw solid #1F7C62;
}