.navigation {
    width: 17%;
    margin-left: 7%;
    height: 100vh;
    padding: 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navigation img {
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 1vw;
    margin-left: 0.3vw;
}

.navigation .menu-item {
    display: inline-block;
    position: relative;
    padding-left: 3vw;
    vertical-align: middle;
}


.navigation .menu-item img {
    position: absolute;
    top: 0;
    left: 0;
}

.navigation .menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -1vw;
    width: 118%;
    height: 100%;
    border-radius: 2vw;
    background-color: #E0E0E0;
    z-index: -1;
}

ul {
    padding-left: 2vw;
}

.menu-item {
    color: #1F7C62;
    text-align: left;
    padding: 1vw 1vw 1vw 0;
    text-decoration: none;
}

.navigation a {
    text-decoration: none;
    color: #1F7C62;
}

.Tweeter, .tweet-button, .menu-item {
    display: inline-block;
    font-size: 1.4vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
}

.tweet-button {
    margin-top: 2vw;
    text-align: center;
    color:  white;
    padding: 1vw 3vw;
    border-radius: 3vw;
    background-color: #1F7C62;
}
.tweet-button:hover {
    transition: 0.3s;
    background-color: #15604b;
}
.deconnexion {
    margin-top: 6vw;
    border-radius: 3vw;
    border: 0.1vw solid #b95757;
    background: none;
    padding:1vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.2vw;
    color: #b95757;
}

.deconnexion:hover {
    transition:0.3s;
    background-color: #b95757;
    color:white;
}