.new-message {
    text-align: center;
    border-top: 0.1vw solid rgba(31, 124, 98, 0.29);
    border-bottom: 0.1vw solid rgba(31, 124, 98, 0.29);
    margin-top: 3.3vw;
    background-color: white;
}

.message-content {
    display: inline-block;
    margin-left: -0.8vw;
    width: 80%;
    font-size: 1.4vw;
    color: #3a3230;
    resize: none;
    border: none;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.avatar-new-message {
    width: 3.4vw;
    height: 3.4vw;
    object-fit: cover;
    margin: 0.6vw 1vw 1vw -2.5vw;
    border-radius: 50%;
    background-color: blueviolet;
}

#display-pet {
    display: none;
    width: 80%;
}

#display-type{
    display: none;
}

.pets-content {
    border-radius: 1vw;
    background-color: #fefefe;
    margin-left: auto; /* modifier la marge gauche */
    margin-right: auto; /* modifier la marge droite */
    padding: 2vw;
    border: 0.1vw solid #888;
    text-align: center;
    margin-bottom: 1vw;
}

.type-content {
    padding: 0.8vw;
    text-align: center;
}

.radio-container, .classical, .rescue, .advice, .event  {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: inline-block;
    padding: 0.8vw;
    border-radius: 1.2vw;
    margin: 0.5vw;
}

.classical {
    background-color: rgba(106,182,158,0.75);
}

.classical:hover {
    background-color: rgba(106,182,158,1);
}

.event {
    background-color: rgba(194,126,101,0.75);
}
.event:hover {
    background-color: rgba(194,126,101,1);
}

.rescue {
    background-color: rgba(201,165,110,0.75);
}
.rescue:hover {
    background-color: rgba(201,165,110,1);
}

.advice {
    background-color: rgba(101,167,208,0.75);
}
.advice:hover {
    background-color: rgba(101,167,208,1);
}

.classical, .rescue, .advice, .event {
    color : white;
    font-size: 1vw;
}

.radio-container label {
    display: inline-block;
    font-size: 1vw;
}

.message:hover {
    animation-name: messageHoverAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes messageHoverAnimation  {
    0% {
        background-color: rgba(31, 124, 98, 0.02);
    }
    100% {
        background-color: rgba(31, 124, 98, 0.09);
    }
}

.pet-image {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.pet-name {
    font-size: 1vw;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.image-container {
    margin: 1vw;
}


.localisation-window {
    display: none;
    width: 100%;
}

.localisation-content {
    background-color: rgba(52, 143, 117, 0.14);
    border: none;
    width:70%;
}

.localisation-message {
    font-size: 0.9vw;
    margin: 0.4vw;
    width:100%;
    color: gray;
}