#message-button, #like-button, #answer-button {
    width: 32.8%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1vw;
    font-size: 1.2vw;
}

#message-like-section {
    text-align: center;
}

#message-content, #answer-content, #like-content {
    width: 100%;
}

#message-button:hover, #like-button:hover, #answer-button:hover {
    background-color: #eef8f4;
}

#message-button:disabled, #like-button:disabled, #answer-button:disabled {
    border-bottom: 0.25vw solid #1F7C62;
    border-radius: 0.2vw;
}