.trend, .hashtags_count {
    padding-left: 2vw;
    margin-bottom: 0;
    font-size: 1vw;
    font-weight: bold;
}

.hashtags_count {
    color: black;
}

.hashtag_block:hover {
    padding-top : 0.1vw;
    padding-bottom: 0.6vw;
    background-color: #d3eae0;
}

.hashtag_block {
    padding-top: 0.1vw;
    padding-bottom: 0.6vw;
    margin-bottom: 0;
}

.trends {
    width: 23%; /* largeur fixe pour les tendances */
    margin-left: auto; /* décale les tendances vers la droite */
    margin-right: 9%; /* réinitialise la marge droite */
    margin-top: 1.8%;
    background-color: #eef8f4;
    border-radius: 1vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999; /* assure que les tendances seront au-dessus du reste de la page */
}

.trends a {
    text-decoration: none;
    color: #1F7C62;
}

.category {
    margin-left: 2vw;
    font-weight: 900;
    font-size: 1vw;
}

.hashtags_count {
    font-weight: normal;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 0.8vw;
}


.pet-preview {
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
}